<div class="slider-area">
    <div class="pogoSlider">
        {% for slide in slides %}
        <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background:url({{ slide.bg }}) no-repeat scroll 0 0 / cover;">
            <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">{{ slide.title }}</h2>
            <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500">{{ slide.subtitle }}</h1>

            {% if slide.cta is not empty %}
            <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300">
                <a href="{{ slide.cta.url }}">{{ slide.cta.title }}</a>
            </h3>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
