{#
/**
 * @file
 * Event List
 *
 * Available variables:
 * - bg: The background image.
 *   - src: Source path of the image.
 *   - alt: Alternate text of the image.
 * - kicker: The highlighted title.
 * - title: The title.
 * - events[]: An array of events.
 *   - title: The title of the event.
 *   - image: The event image. 
 *     - src: Source path of the image.
 *     - alt: Alternate text of the image.
 *   - date: The event date.
 *     - day: The date day.
 *     - mon: The date month.
 *   - location: The location of the event.
 *   - desc: The short description of the event.
 */
#}
<section class="event-area section-padding">
  {% if bg|default() -%}
    <div class="event-area-bg" style="background-image: url('{{ bg.src }}')"></div>
  {%- endif %}

  <div class="container wow fadeIn">
    
    {% if title|default -%}
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="area-title text-center">
            <h2>{{ kicker }}</h2>
            <h3>{{ title }}</h3>
          </div>
        </div>
      </div>
    {%- endif %}

    <div class="row event-list">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        {% for event in events %}
        <div class="single-event">
          {% if event.image|default() -%}
            <div class="event-img">
              {% include '@d8training/image/image.twig' with event.image only %}
            </div>
          {%- endif %}
          <div class="event-content">
            {% if event.date|default() -%}
              <div class="event-date">
                <p><span>{{ event.date.day }}</span>{{ event.date.mon }}</p>
              </div>
            {%- endif %}

            <div class="event-details">
              <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
              {% if event.location|default() %}<p class="event-meta">{{ event.location }}</p>{% endif %}
              {% if event.desc|default() %}<p>{{ event.desc }}</p>{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

</section>
